<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="userConfigBean" class="org.firstProject.bean.UserConfig">
        <property name="name" value="Prabhjot"/>
        <property name="className" value="firstClass"/>
    </bean>

    <bean id="userServiceBean" class="org.firstProject.service.UserService">
        <property name="userConfig" ref="userConfigBean"/>
        <!-- <constructor-arg ref="userConfigBean"/> -->
    </bean>

    <bean id="orderServiceBean" class="org.firstProject.service.OrderService" factory-method="createInstance">
       
       <!-- this is not correct, as here these are constructor arguments, not class's members -->
        <!-- <property name="userService" ref="userServiceBean"/>
        <property name="userConfig" ref="userConfigBean"/> -->

        <!-- below written way is correct one -->
        <constructor-arg ref="userServiceBean"/>
        <constructor-arg ref="userConfigBean"/>
    </bean>

</beans>